body {
	padding-top: 4em;
	margin: auto;
	text-align: center;
	width: 80%;
	background-color: #222222;
}

#header {
	font-size: 1em;
	color: #cacaca;
	font-family: sans-serif;
	align-content: center;
	-webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#brain {
	width: 1.5em;
	height: 1.5em;
	background: url(../images/brain.png) no-repeat center center;
	background-size: contain;
	display: inline-block;
    zoom: 1;
    *display: inline;
    margin: .3em;
    margin-bottom: -.4em;
}

#divider {
	height: 1px;
	width: 100%;
	margin-top: .4em;
	margin-bottom: 1em;
	background-color: white;
}

#phrase {
	font-size: 1.5em;
	color: white;
}

#quotation-mark {
	font-size: 1.6em;
	color: #aaaaaa;
	-webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#regenerate-button {
	display: inline-block;
	background-color: rgba(255, 255, 255, .2);
	color: white;
	padding-top: .6em;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: .4em;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#regenerate-button:hover {
	background-color: rgba(255, 255, 255, .4);
}

#share-box {
	color: white;
	font-weight: bold;
}

.share {
	margin-bottom: .25em;
}

.share a{
	color: #cacaca;
	text-decoration: none;
}

.share:hover a{
	color: white;
}